<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/index.css">
    <title>doc</title>
</head>
<body>
{#   navbar#}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>
<footer>
    <h3>contact us</h3>
</footer>
<!-- Button trigger modal for department -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDepartment">
    Add new Department
</button>
<!-- Button trigger modal for employee -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee">
    Add new Employee
</button>

<!-- Modal for department -->
<div class="modal fade" id="newDepartment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/newDepartment" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name of Department</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="department">
                    </div>
                    <div class="form-group">

                        <input type="submit" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{#    modal for employee#}
<div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/newEmployee" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name of Employee</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Employee">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">KRA pin</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="KRA pin">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input required type="email" class="form-control" id="formGroupExampleInput"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Choose Department</label>
                        <select required  class="form-control" id="formGroupExampleInput"
                               placeholder="department">
                            <option>IT</option>
                            <option>HR</option>
                        </select>


                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">National id</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="National Id">
                        <div class="form-group">

                    </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput">Basic Salary</label>
                        <input required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="Basic Salary">
                    </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput">Benefits</label>
                        <input required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="Benefits">
                    </div>
                    </div>
                    <div class="form-group">

                        <input type="submit" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>