<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/index.css">
    <title>doc</title>
</head>
<body>


<!-- Button trigger modal for employee -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee">
    Generate Payroll
</button>


{#    modal for employee#}
<div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/newEmployee" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name of Employee</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Employee">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Gender</label>
                        <select name="gender"  class="form-control" id="formGroupExampleInput"
                               placeholder="Gender">
                            <option value="na">Not Applicable</option>
                            <option value="f">Female</option>
                            <option value="m">Male</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">KRA pin</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="KRA pin">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input required type="email" class="form-control" id="formGroupExampleInput"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Choose Department</label>
                        <select required  class="form-control" id="formGroupExampleInput"
                               placeholder="department">
                            {% for each in idara %}
                            <option>{{ each.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">National id</label>
                        <input required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="National Id">
                        <div class="form-group">

                    </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput">Basic Salary</label>
                        <input required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="Basic Salary">
                    </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput">Benefits</label>
                        <input required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="Benefits">
                    </div>
                    </div>
                    <div class="form-group">

                        <input type="submit" class="form-control btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name </th>
      <th scope="col">gender </th>

      <th scope="col">kra_pin</th>
      <th scope="col">national_id</th>
      <th scope="col">email</th>
      <th scope="col">basic_salary</th>
      <th scope="col">benefits</th>
      <th scope="col">payrolls</th>
    </tr>
  </thead>
  <tbody>
  {% for each in employees %}

    <tr>
      <th scope="row">{{ each.id }}</th>
      <td>{{ each.full_name }}</td>
      <td>{{ each.gender }}</td>

      <td>{{ each.kra_pin }}</td>
      <td>{{ each.email }}</td>
      <td>{{ each.national_id }}</td>
      <td>{{ each.basic_salary }}</td>
      <td>{{ each.benefits }}</td>
     <td><a href="/payrolls/{{ each.id }}">View Payrolls</a> </td>
    </tr>
  {% endfor %}


  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>