<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/index.css">
    <title>doc</title>
</head>
<body>


<!-- Button trigger modal for payroll -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#generatePayroll">
    Generate Payroll
</button>


{#    modal for payroll#}
<div class="modal fade" id="generatePayroll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Generate Payroll</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/generate_payroll/{{ this_employee.id }}" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Overtime</label>
                        <input name="overtime" value="0" required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="Overtime">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Any loan dedution</label>
                        <input name="loan" value="0" required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="loan">
                    </div>

                    <div class="form-group">
                        <label for="formGroupExampleInput">Salary Advance</label>
                        <input name="salary_advance" required type="number" value="0" class="form-control" id="formGroupExampleInput"
                               placeholder="Salary Advance">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Month</label>
                        <input name="month" required type="text"  class="form-control" id="formGroupExampleInput"
                               placeholder="eg JAN2019">
                    </div>

                    <div class="form-group">
                        <input name="name" type="hidden" value="{{ this_employee.full_name }}"  class="form-control">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Month/Year</th>
      <th scope="col">NHIF</th>
      <th scope="col">NSSF</th>

      <th scope="col">Overtime </th>
      <th scope="col">Loan </th>

      <th scope="col">Salary Advance</th>
      <th scope="col">Net Salary</th>
      <th scope="col">Take Home Pay</th>

  </thead>
  <tbody>
  {% for each in this_employee.payrolls %}

    <tr>
      <th scope="row">{{ each.id }}</th>
      <td>{{ each.month }}</td>
      <td>{{ each.nhif }}</td>
      <td>{{ each.nssf }}</td>

      <td>{{ each.overtime }}</td>
      <td>{{ each.loan_deducted }}</td>

      <td>{{ each.salary_advance }}</td>
      <td>{{ each.net_salary }}</td>
      <td>{{ each.take_home_pay }}</td>


    </tr>
  {% endfor %}


  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>